/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Root */

:root {
    --gray:#222222;
    --green: #419c0a;
    --red: #bb2e31;
}

/* Generals */

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}


/* Utils */

.flex {
    display: flex;
    flex-direction: row;
}

/* header */

header {
    height: 70px;
}

ul {
    margin-top: 10px;
    justify-content: flex-end;
    list-style-type: none;

}

nav a {
    background-color: var(--gray);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 15px;
}



 
/* main */

.container {
    margin: 0 auto;
    width: 70vw;
    height: calc(100vh - 100px - 70px - 10px);
    overflow-y: auto;
}



.card-container {
    display: inline-block;
    margin: auto;
}

.card {
    position: relative;
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 15px;
}

.info {
    background-color: var(--gray);
    padding: 5px 10px;
    position: absolute;
    left: 0;
    bottom: 0;

}



/* Footer */

footer {
    background-color: var(--gray);
    height: 100px;
}
